<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to kiloukoi, <%= @user.firstname %></h1>
    <p>
      You have successfully signed up and we hope you will find all what you need on kiloukoi, <%= @user.firstname %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>

    <p> The kiloukoi's team </p>
  </body>
</html>