<%= form_for @item, :html => { :multipart => true}, remote: true do |f| %>

  <div id='picture-container'>
   <%= render partial: 'pictures' %>
  </div>

  <div class="form-group">
    <%= f.label :file, 'picture', class: "control-label" %>
    <%= f.file_field :file, class: "form-control", placeholder: "Localisation" %>
  </div>

  <div class="fileUpload btn btn-primary">
    <span>Upload</span>
    <input type="file" class="upload" />
  </div>

<% end %>