<div class="col-md-5 visible-lg visible-md">
  <%= image_tag("carte.png", class: "carte") %>
</div>

<div class="col-md-7 col-md-offset-5 ">
  <div class="col-sm-12 col-md-12 col-xs-12 ">
    <form class="form-inline" id="button_loc" role="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Location">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Search</button>
        </span>
      </div>
    </form>
  </div>

  <div >
    <%= render 'items/announce' %>
  </div>
</div>



