<h1>Le titre de mon annonce est : <%= @item.title %></h1>


<% @item.pictures.each do |picture|%>
<%= image_tag picture.file.url(:thumb) %>
<% end %>

<%= render 'bookings/form', {item_id: params[:id]} %>



