<h1>Le titre de mon annonce est : <%= @item.title %></h1>

<p>
Description<%= @item.description %>
</p>

<h1>Prix : <%= @item.price %> euros /jour</h1>

<div>
<%= image_tag @item.pictures_url, size: "400x400" %>
</div>