<h1>Le titre de mon annonce est : <%= @item.title %></h1>

<p>
Description<%= @item.description %>
</p>

<h1>Prix : <%= @item.price %> euros /jour</h1>

<div>
<% @item.pictures.each do |pic| %>
<%= image_tag pic.photo.url(:medium) %>
<% end %>

</div>