/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .logo{
  font-family: HoboStd;
  font-size: 32px;
  color: #0EA2E1;
  line-height: 40px;
  padding-top: 0.8%;
  padding-left: 1%;
}

.align-nav{
  padding-right: 15px;
}

.align-body{
  margin-top: 50px;
}

.carte{
  height: 100%;
  width: 30%;
  position: fixed;
}

.flux{
  height: 100%;
  width: 57%;
  float: right;
}

