/* Navbar */

.logo {
  font-family: HoboStd;
  font-size: 32px;
  color: #0EA2E1;
  line-height: 40px;
  padding-top: 7px;
  padding-left: 7px;
}

.align-nav{
  padding-right: 15px;
}

.align-body{
  margin-top: 50px;
}

/* Carte */

.carte{
  width: inherit;
  position: fixed;
}

/* Button search */

#button_loc{
  margin-bottom: 5px;
}

/* picture */

.annonce{
  width: 100%;

}

.white{
  color: white;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* @media (min-width: @screen-sm-min) { ... } */

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: @screen-md-min) { ... } */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: @screen-lg-min) { ... } */